.MuiStack-root {
  &.authen-page {
    margin: 0 auto;
    border: 8px solid var(--primary-color);
    border-radius: 20px;
    padding: 20px;
    max-width: 620px;
  }
}

.MuiTypography-root {
  &.slogan {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-heading-4xl);
    letter-spacing: 16px;
  }

  &.caption {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-heading-xl);
  }

  &.semi-2xl {
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-heading-2xl);
  }
}
