.MuiStack-root {
  &.header-container {
    box-shadow: 0px 5px 0px 0px #000000;
    padding: 12px 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  &.home-body {
    display: flex;
    flex-direction: row;
    margin: 20px 16px;
  }

  &.sidebar-container {
    width: 200px;
    padding: 12px;
    min-height: calc(100vh - 100px);
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0px #000000;
    border: 2px solid #000000;
    gap: 4px;
  }

  &.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    border-radius: 99px;
    cursor: pointer;
  }
}