.MuiStack-root {
  &.header-container {
    box-shadow: 0px 5px 0px 0px #000000;
    padding: 12px 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    z-index: 20;
    width: 100%;
    align-items: center;
    background-color: var(--primary-background-color);
  }

  &.home-body {
    display: flex;
    flex-direction: row;
    margin: 20px 16px;
    margin-top: 76px;
  }

  &.sidebar-container {
    padding: 12px;
    min-height: calc(100vh - 100px);
    transition: width 0.2s ease;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0px #000000;
    border: 2px solid #000000;
    gap: 4px;
    position: relative;
  }

  &.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.25s ease;
  }

  &.collapse-button {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 240px;
    background-color: #E4DEB0;
    border: 1px solid #000;
    border-radius: 0 99px 99px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}